.tab{
    -fx-background-color: #2d7d9a;
}
.tab-header-background{
    -fx-background-color: #2d7d9a;
}
.tab-pane .headers-region {
    -fx-font:  #2d7d9a;
}
.jfx-tab-pane .depth-container {
    -fx-effect: none; 
}
.tab-label {
    /*-fx-text-fill: f8dc81 ;*/
}
